node_modules
.next
out
build
dist
coverage
.storybook
.source
.augment
.trae
.pnpm-store
.pnp
.pnp.js
pnpm-lock.yaml
package-lock.json
yarn.lock
*.log
pids
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
playwright-report
test-results
drizzle
public/storybook
public/playwright-report
public/coverage
